<a href="login">ログイン画面へ</a>
<table align="center" cellspacing="0">
        <tr><td align="right">ユーザ名</td><td>{{ name|safe}}</td></tr>
        <tr><td align="right">メールアドレス</td><td>{{ email|safe}}</td></tr>
        <tr><td align="right">パスワード</td><td>{{ password|safe}}</td></tr>
        <tr><td align="right">年齢</td><td>{{ age|safe}}</td></tr>
        <tr><td align="right">性別</td><td>{{ sex|safe}}</td></tr>
        <tr><td align="right">身長</td><td>{{ height|safe}}</td></tr>
        <tr><td align="right">体重</td><td>{{ weight|safe}}</td></tr>
</table>